body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a; /* Negro */
  margin: 0;
  padding: 0;
}

#contenedor {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #333; /* Gris oscuro */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Borde claro */
}

h2 {
  text-align: center;
  color: #fff; /* Blanco */
}

.ejercicio {
  margin-bottom: 20px;
}

h3 {
  color: #e92a60;
}

.campos {
  display: flex;
  justify-content: space-between;
}

.campo {
  flex: 1;
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ddd; /* Gris claro */
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #555; /* Gris */
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: #e92a60;
}

#grupos-musculares {
  text-align: center;
  margin-top: 20px;
}

#botones button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #333; /* Gris oscuro */
  color: #fff; /* Blanco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#botones button:hover {
  background-color: #555; /* Gris más oscuro al pasar el ratón por encima */
}
